.admin-wrap {
	.navigation-sub {
		margin-top: 0;
	}

	.admin-cs-wrap {
		.header {
			margin-top: 0;
		}
	}

	.admin-cs-wrap {
		.my-wrap;

		.header {
			margin-top: 0;
			padding-top: 12px;
		}
	}
}

.admin-order-wrap {
	.header {
		.common-header .title-1st;

		margin-top: 12px;
		margin-bottom: 8px;

		.upper-depth {
			color: @dami-charcoal-200;
		}
	}
}

.admin-order-list-wrap {
	.list-btn-wrap {
		float: right;
	}
}