.bold-12px-dark-charcoal {
	color: @dami-charcoal-700;
	font-size: 12px;
	font-weight: 700;
}

.bold-14px-dark-charcoal {
	color: @dami-charcoal-800;
	font-size: 14px;
	font-weight: 500;
}

.regular-12px-gray {
	color: @dami-charcoal-200;
	font-size: 12px;
}