@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');
.checkbox-signup {
  display: inline-block;
}
.checkbox-signup input {
  margin-right: 1px;
}
.checkbox-signup label {
  margin: 0 !important;
  cursor: pointer;
}
.checkbox-signup input[type="checkbox"] {
  display: none;
}
.checkbox-signup input[type="checkbox"] + label span {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: -2px 4px 0 0;
  vertical-align: middle;
  background: url(../img/icon-check-sheet.png) left top no-repeat;
  background-size: 80px 20px;
  cursor: pointer;
}
.checkbox-signup input[type="checkbox"]:checked + label span {
  background: url(../img/icon-check-sheet.png) -20px top no-repeat;
  background-size: 80px 20px;
}
.checkbox-signup .policy-sub-confirm {
  font-weight: normal;
}
.checkbox-common {
  display: inline-block;
}
.checkbox-common input {
  margin: 0;
}
.checkbox-common label {
  margin: 0 !important;
  font-weight: normal;
}
.checkbox-common input[type="checkbox"] {
  display: none;
}
.checkbox-common input[type="checkbox"] + label span {
  display: inline-block;
  width: 19px;
  height: 19px;
  margin: -2px 4px 0 0;
  vertical-align: middle;
  background: url(../img/icon-check-radio-sheet.png) left top no-repeat;
  background-size: 76px 19px;
  cursor: pointer;
}
.checkbox-common input[type="checkbox"]:checked + label span {
  background: url(../img/icon-check-radio-sheet.png) -19px top no-repeat;
  background-size: 76px 19px;
}
.checkbox-common input[type="radio"] {
  display: none;
}
.checkbox-common input[type="radio"] + label span {
  display: inline-block;
  width: 19px;
  height: 19px;
  margin: -2px 4px 0 0;
  vertical-align: middle;
  background: url(../img/icon-check-radio-sheet.png) -38px top no-repeat;
  background-size: 76px 19px;
  cursor: pointer;
}
.checkbox-common input[type="radio"]:checked + label span {
  background: url(../img/icon-check-radio-sheet.png) -57px top no-repeat;
  background-size: 76px 19px;
}
textarea {
  resize: none;
}
.option-block .option {
  display: inline-block;
  margin-right: 48px;
  margin-bottom: 8px;
}
.option-block .option input {
  margin-right: 6px;
}
.option-block .option-lg {
  font-size: 16px;
  letter-spacing: -0.5px;
}
.btn-db {
  display: inline-block;
  padding: 7px 12px;
  margin-bottom: 0;
  font-size: 13px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border-radius: 18px;
  outline: none;
  outline-color: transparent;
}
.btn-db-sq {
  border-radius: 4px;
}
.btn-db-xs {
  padding: 3px 6px 0 6px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 12px;
}
.btn-db-sm {
  padding: 5px 8px;
  font-size: 12px;
  border-radius: 18px;
}
.btn-db-lg {
  height: 48px;
  padding: 12px 36px;
  font-size: 16px;
  border-radius: 24px;
}
.btn-mint-outline {
  color: #00b5b7;
  border-color: #00b5b7;
  background-color: #fff;
}
.btn-mint-outline:hover,
.btn-mint-outline:focus {
  color: #009597;
  border-color: #009597;
  background-color: #fff;
}
.btn-mint-outline:active,
.btn-mint-outline.active {
  color: #00b5b7;
  border-color: #00b5b7;
  background-color: #fff;
}
.btn-mint-outline.disabled,
.btn-mint-outline[disabled],
fieldset[disabled] .btn-mint-outline,
.btn-mint-outline.disabled:hover,
.btn-mint-outline[disabled]:hover,
fieldset[disabled] .btn-mint-outline:hover,
.btn-mint-outline.disabled:focus,
.btn-mint-outline[disabled]:focus,
fieldset[disabled] .btn-mint-outline:focus,
.btn-mint-outline.disabled.focus,
.btn-mint-outline[disabled].focus,
fieldset[disabled] .btn-mint-outline.focus,
.btn-mint-outline.disabled:active,
.btn-mint-outline[disabled]:active,
fieldset[disabled] .btn-mint-outline:active,
.btn-mint-outline.disabled.active,
.btn-mint-outline[disabled].active,
fieldset[disabled] .btn-mint-outline.active {
  color: #8ddbdd;
  border-color: #d4eef0;
  background-color: #fff;
}
.btn-md {
  height: 34px;
}
.form-inline .form-group .btn {
  vertical-align: top;
}
.btn-naver,
.btn-naver:active,
.btn-naver:visited,
.btn-naver:focus {
  color: #fff;
  background-color: #00C73C;
}
.btn-naver:hover {
  color: #fff;
  background-color: #02B731;
}
.index-desc-wrap {
  height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('../img/hero-top.jpg');
}
.index-desc-wrap .hero {
  margin-top: 120px;
}
.index-desc-wrap .hero h1 {
  color: #363b3d;
  font-size: 48px;
  font-weight: 300;
  margin-bottom: 16px;
  line-height: 120%;
}
.index-desc-wrap .hero p {
  font-size: 14px;
  line-height: 160%;
}
.index-desc-wrap .btn-block {
  margin-top: 24px;
}
.index-wrap .block {
  margin: 68px 0;
}
.index-wrap .header {
  color: #363b3d;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 48px;
}
.index-wrap .item-block {
  width: 100%;
  height: 280px;
  margin-bottom: 24px;
  padding: 16px;
  border: 1px solid #e9ecee;
  text-align: center;
}
.index-wrap .item-block .title {
  display: block;
  color: #363b3d;
  height: 42px;
  font-size: 14px;
  font-weight: bold;
}
.index-wrap .item-block .price {
  color: #2d9569;
  font-family: 'Roboto Slab', sans-serif;
}
.index-wrap .item-block:hover {
  border: 1px solid #a4dac4;
}
.index-wrap .col-4-thumb {
  width: 100%;
  padding: 16px;
}
.index-wrap .item-link-block {
  height: 70px;
}
.index-wrap .item-link-block .title {
  height: 20px;
}
.index-wrap .item-link-block .url {
  color: #2d9569;
  font-family: 'Roboto Slab', sans-serif;
}
.item-of-week-block .tag {
  color: #fff;
  border-color: #fff;
}
.item-of-week-block .item-title {
  color: #fff;
  margin-bottom: 16px;
  font-size: 58px;
  font-weight: 300;
  font-family: 'Amatic SC', sans-serif;
}
.item-of-week-block p {
  color: #fff;
  font-size: 14px;
  line-height: 170%;
}
.image-full-width {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.image-item-of-week {
  background-image: url('../img/hero-week-item.jpg');
}
@media (min-width: 1200px) {
  .index-wrap .item-block {
    height: 330px;
  }
  .index-wrap .item-link-block {
    height: 76px;
  }
}
.body-signup {
  background-color: #88d1b3;
}
#signup .logo-signup {
  margin: 148px 0 48px 0;
  text-align: center;
}
.signup-wrap {
  width: 490px;
}
.signup-wrap .header h2 {
  color: #232961;
  font-size: 34px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 58px;
}
.signup-wrap .block {
  margin-bottom: 0;
  padding-bottom: 12px;
}
.signup-wrap .block .title {
  color: #5f656a;
  font-size: 12px;
  font-weight: 700;
  padding-top: 10px;
}
.signup-wrap .block .select-number {
  background: #fff;
  width: 70px;
  height: 34px;
  border: 1px solid #d6dce1;
  margin-top: 0;
  margin-right: 14px;
  padding: 0;
  vertical-align: top;
  color: #51575b;
  font-size: 14px;
  font-weight: 500;
}
.signup-wrap .block .input-mobile-1 {
  width: 70px;
  margin-right: 14px;
}
.signup-wrap .block .input-mobile-2 {
  width: 106px;
  margin-right: 13px;
}
.signup-wrap .block .input-mobile-3 {
  width: 106px;
}
.signup-wrap .block .required:before {
  content: "*";
  color: #ea5c6a;
  margin-right: 2px;
}
.signup-wrap .divider {
  margin: 12px 0 24px 0;
}
.signup-wrap .term-wrap {
  color: #7a8187;
  padding: 8px 0 8px 0;
}
.signup-wrap .term-wrap .term {
  color: #7a8187;
  margin: 0;
  padding-bottom: 16px;
}
.signup-wrap .btn-block {
  text-align: center;
}
.signup-wrap .btn-block .item {
  margin-bottom: 12px;
}
.signup-wrap .link-signin {
  margin-bottom: 48px;
  text-align: center;
}
.signup-wrap .link-signin a,
.signup-wrap .link-signin a:hover,
.signup-wrap .link-signin a:active,
.signup-wrap .link-signin a:visited {
  color: #35b37e;
  text-decoration: underline;
}
.payment-wrap .header {
  color: #232961;
  font-size: 20px;
  font-weight: bold;
  margin-top: 36px;
  margin-bottom: 24px;
}
.payment-wrap .table-sm-wrap table {
  table-layout: fixed;
}
.payment-wrap .table-sm-wrap table th,
.payment-wrap .table-sm-wrap table td {
  font-size: 13px;
  padding-top: 16px;
  padding-bottom: 16px;
  text-align: center;
  vertical-align: middle;
}
.payment-wrap .table-sm-wrap table thead td {
  color: #7a8187;
  border-bottom: 1px solid #c4ccd3;
  font-weight: bold;
}
.payment-wrap .table-sm-wrap table tbody td {
  color: #44494c;
  border-bottom: 1px solid #eef0f2;
}
.payment-wrap .table-sm-wrap table tbody td.order-number {
  color: #b1bac2;
}
.payment-wrap .payment-method-block {
  margin-bottom: 24px;
}
.payment-wrap .option-block {
  margin-top: 16px;
  padding-top: 16px;
  border-top: 1px solid #c4ccd3;
}
.payment-wrap .info-address-block {
  margin-top: 16px;
  padding-top: 16px;
  border-top: 1px solid #c4ccd3;
}
.payment-result-wrap {
  margin: 108px 0;
  text-align: center;
}
.payment-result-wrap .header {
  color: #232961;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 24px;
}
.admin-wrap .navigation-sub {
  margin-top: 0;
}
.admin-wrap .admin-cs-wrap .header {
  margin-top: 0;
}
.admin-wrap .admin-cs-wrap .header {
  color: #232961;
  font-size: 20px;
  font-weight: bold;
  margin-top: 36px;
  margin-bottom: 24px;
}
.admin-wrap .admin-cs-wrap .my-summary-block {
  height: 120px;
  margin-top: 36px;
  border: 2px solid #232961;
  border-radius: 6px;
  padding: 14px 0 14px 14px;
}
.admin-wrap .admin-cs-wrap .my-summary-block .user-info {
  width: 240px;
  float: left;
}
.admin-wrap .admin-cs-wrap .my-summary-block .user-info .name {
  color: #232961;
  font-size: 28px;
}
.admin-wrap .admin-cs-wrap .my-summary-block .user-info .email {
  color: #51575b;
  font-size: 12px;
}
.admin-wrap .admin-cs-wrap .my-summary-block .user-info .edit-info {
  padding-top: 4px;
}
.admin-wrap .admin-cs-wrap .my-summary-block .order-info {
  width: 300px;
  float: right;
}
.admin-wrap .admin-cs-wrap .my-summary-block .order-info .info-sm-block {
  width: 100px;
  height: 86px;
  float: left;
  border-right: 1px solid #e4e8eb;
  padding-top: 36px;
  font-size: 12px;
  text-align: center;
  background-position: center 6px;
  background-repeat: no-repeat;
  background-size: 24px 24px;
}
.admin-wrap .admin-cs-wrap .my-summary-block .order-info .info-sm-block .number {
  color: #35b37e;
  font-size: 24px;
}
.admin-wrap .admin-cs-wrap .my-summary-block .order-info .info-sm-block:last-child {
  border-right: 0;
}
.admin-wrap .admin-cs-wrap .table-sm-wrap table {
  table-layout: fixed;
}
.admin-wrap .admin-cs-wrap .table-sm-wrap table th,
.admin-wrap .admin-cs-wrap .table-sm-wrap table td {
  font-size: 13px;
  padding-top: 16px;
  padding-bottom: 16px;
  text-align: center;
  vertical-align: middle;
}
.admin-wrap .admin-cs-wrap .table-sm-wrap table thead td {
  color: #7a8187;
  border-bottom: 1px solid #c4ccd3;
  font-weight: bold;
}
.admin-wrap .admin-cs-wrap .table-sm-wrap table tbody td {
  color: #44494c;
  border-bottom: 1px solid #eef0f2;
}
.admin-wrap .admin-cs-wrap .table-sm-wrap table tbody td.order-number {
  color: #b1bac2;
}
.admin-wrap .admin-cs-wrap .password-confirm {
  margin-top: 24px;
}
.admin-wrap .admin-cs-wrap .password-confirm .form-inline {
  margin-top: 8px;
}
.admin-wrap .admin-cs-wrap .password-confirm .form-inline input {
  height: 34px;
  vertical-align: top;
}
.admin-wrap .admin-cs-wrap .info-edit-block {
  margin-top: 24px;
}
.admin-wrap .admin-cs-wrap .info-edit-block .input-block {
  display: table;
  width: 416px;
  margin-top: 12px;
}
.admin-wrap .admin-cs-wrap .info-edit-block .input-block .title {
  display: table-cell;
  width: 100px;
  color: #5f656a;
  font-size: 12px;
  font-weight: 700;
}
.admin-wrap .admin-cs-wrap .info-edit-block .input-block .input-col {
  display: table-cell;
}
.admin-wrap .admin-cs-wrap .info-edit-block .input-block .select-number {
  background: #fff;
  width: 70px;
  height: 34px;
  border: 1px solid #d6dce1;
  margin-top: 0;
  margin-right: 14px;
  padding: 0;
  vertical-align: top;
  color: #51575b;
  font-size: 14px;
  font-weight: 500;
}
.admin-wrap .admin-cs-wrap .info-edit-block .input-block .input-mobile-1 {
  width: 70px;
  margin-right: 14px;
}
.admin-wrap .admin-cs-wrap .info-edit-block .input-block .input-mobile-2 {
  width: 106px;
  margin-right: 13px;
}
.admin-wrap .admin-cs-wrap .info-edit-block .input-block .input-mobile-3 {
  width: 106px;
}
.admin-wrap .admin-cs-wrap .info-edit-block .input-block .input-desc {
  margin-top: 8px;
  color: #a3acb3;
  font-size: 12px;
}
.admin-wrap .admin-cs-wrap .info-edit-block .btn-block {
  margin-top: 16px;
  padding-left: 100px;
}
.admin-wrap .admin-cs-wrap .cs-category-block {
  margin-top: 24px;
  margin-bottom: 16px;
}
.admin-wrap .admin-cs-wrap .cs-auth-block {
  width: 600px;
  margin-top: 24px;
}
.admin-wrap .admin-cs-wrap .info-block {
  display: inline-block;
  width: 697px;
  vertical-align: top;
  margin-top: 16px;
  padding-top: 16px;
  font-size: 13px;
  border-top: 1px solid #c4ccd3;
}
.admin-wrap .admin-cs-wrap .info-block .full-width-block {
  width: 100%;
}
.admin-wrap .admin-cs-wrap .info-block .half-width-left-block {
  float: left;
  width: 339px;
  margin-right: 19px;
}
.admin-wrap .admin-cs-wrap .info-block .half-width-right-block {
  float: left;
  width: 339px;
}
.admin-wrap .admin-cs-wrap .header {
  margin-top: 0;
  padding-top: 12px;
}
.admin-order-wrap .header {
  color: #232961;
  font-size: 20px;
  font-weight: bold;
  margin-top: 12px;
  margin-bottom: 8px;
}
.admin-order-wrap .header .upper-depth {
  color: #a3acb3;
}
.admin-order-list-wrap .list-btn-wrap {
  float: right;
}
.bold-12px-dark-charcoal {
  color: #5f656a;
  font-size: 12px;
  font-weight: 700;
}
.bold-14px-dark-charcoal {
  color: #51575b;
  font-size: 14px;
  font-weight: 500;
}
.regular-12px-gray {
  color: #a3acb3;
  font-size: 12px;
}
.request-shipping-wrap .header h2 {
  color: #232961;
  font-size: 20px;
  font-weight: 700;
  margin: 36px 0 40px 0;
}
.request-shipping-wrap .block {
  margin-top: 48px;
}
.request-shipping-wrap .block .title {
  color: #51575b;
  font-size: 14px;
  font-weight: bold;
  padding-top: 0;
  vertical-align: top;
}
.request-shipping-wrap .block .region {
  width: 100%;
  padding: 14px;
  border: 1px solid #eef0f2;
  border-radius: 4px;
  -o-transition: .2s;
  -ms-transition: .2s;
  -moz-transition: .2s;
  -webkit-transition: .2s;
}
.request-shipping-wrap .block .region span {
  color: #7a8187;
  display: block;
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 8px;
  padding-bottom: 8px;
  border-bottom: 1px solid #eef0f2;
}
.request-shipping-wrap .block .region p {
  color: #969ea4;
  margin: 0;
  padding: 0;
}
.request-shipping-wrap .block .region-select {
  background-color: #35b37e;
  border: 1px solid #2d9569;
}
.request-shipping-wrap .block .region-select span {
  color: #fff;
  border-bottom: 1px solid #2d9569;
}
.request-shipping-wrap .block .region-select p {
  color: #fff;
}
.request-shipping-wrap .block .region-select:hover {
  border-color: #35b37e;
}
.request-shipping-wrap .block .goods-wrap {
  margin-top: 12px;
  padding-left: 24px;
  border-top: 1px solid #d2d8dd;
}
.request-shipping-wrap .block .goods-wrap .good-block .good-title {
  display: block;
  margin: 12px 0 20px 0;
  padding-bottom: 12px;
  border-bottom: 1px solid #eef0f2;
  font-size: 14px;
  font-weight: 500;
}
.request-shipping-wrap .block .goods-wrap .good-block .good-title button {
  float: right;
  margin-top: -2px;
}
.request-shipping-wrap .block .goods-wrap .good-block .good-info-block .image-block {
  display: inline-block;
  width: 120px;
  margin-right: 18px;
  vertical-align: top;
}
.request-shipping-wrap .block .goods-wrap .good-block .good-info-block .image-block .thumb {
  width: 120px;
  height: 120px;
  margin-bottom: 8px;
  border: 1px solid #e4e8eb;
  border-radius: 4px;
}
.request-shipping-wrap .block .goods-wrap .good-block .good-info-block .image-block button.image-submit {
  width: 120px;
}
.request-shipping-wrap .block .goods-wrap .good-block .good-info-block .info-block {
  display: inline-block;
  width: 774px;
  vertical-align: top;
}
.request-shipping-wrap .block .goods-wrap .good-block .good-info-block .info-block .full-width-block {
  width: 100%;
}
.request-shipping-wrap .block .goods-wrap .good-block .good-info-block .info-block .half-width-left-block {
  float: left;
  width: 378px;
  margin-right: 18px;
}
.request-shipping-wrap .block .goods-wrap .good-block .good-info-block .info-block .half-width-right-block {
  float: left;
  width: 378px;
}
.request-shipping-wrap .block .goods-wrap thead td {
  color: #7a8187;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}
.request-shipping-wrap .block .goods-wrap tbody td {
  color: #969ea4;
  height: 48px;
  font-size: 12px;
  padding: 12px 4px;
  text-align: center;
  vertical-align: middle;
}
.request-shipping-wrap .block .delivery-option-wrap {
  margin-top: 12px;
  padding-top: 20px;
  border-top: 1px solid #d6dce1;
}
.request-shipping-wrap .block .delivery-option-wrap .header {
  display: inline-block;
  color: #51575b;
  width: 148px;
  font-size: 13px;
  font-weight: bold;
}
.request-shipping-wrap .block .delivery-option-wrap .header-input {
  margin-top: 9px;
}
.request-shipping-wrap .block .delivery-option-wrap .option-block {
  display: inline-block;
  width: 780px;
  vertical-align: top;
}
.request-shipping-wrap .block .delivery-option-wrap .option-block .option-select-block {
  margin-bottom: 16px;
  padding-bottom: 8px;
  border-bottom: 1px dotted #d6dce1;
}
.request-shipping-wrap .block .delivery-option-wrap .option-block .option-select-block .option {
  width: 120px;
}
.request-shipping-wrap .block .delivery-option-wrap .option-block .option-select-block .option label {
  font-weight: bold;
}
.request-shipping-wrap .block .delivery-option-wrap .option-block .select-delivery {
  background: #fff;
  width: 380px;
  height: 34px;
  border: 1px solid #d6dce1;
  margin-top: 0;
  margin-right: 14px;
  padding: 0;
  vertical-align: top;
  color: #51575b;
  font-size: 14px;
  font-weight: 500;
}
.request-shipping-wrap .block .delivery-option-wrap .option-block .address-item {
  display: table;
  margin-bottom: 10px;
}
.request-shipping-wrap .block .delivery-option-wrap .option-block .address-item .title {
  display: table-cell;
  color: #7a8187;
  width: 80px;
  font-size: 12px;
  vertical-align: top;
  padding-top: 10px;
}
.request-shipping-wrap .block .delivery-option-wrap .option-block .address-item .address-input {
  display: table-cell;
}
.request-shipping-wrap .block .delivery-option-wrap .option-block .address-item .address-input .address {
  width: 300px;
}
.request-shipping-wrap .block .delivery-option-wrap .option-block .address-item .address-input .delivery-message {
  width: 700px;
}
.request-shipping-wrap .block .delivery-option-wrap .option-block .address-item .address-btn {
  display: table-cell;
  vertical-align: top;
}
.request-shipping-wrap .block .delivery-option-wrap .address-wrap {
  margin-top: -8px;
}
.request-shipping-wrap .block .title + .delivery-option-wrap {
  border-top: 1px solid #e4e8eb;
}
.request-shipping-wrap .btn-block {
  margin-bottom: 16px;
  text-align: center;
}
.request-shipping-wrap .btn-submit-block {
  margin-top: 24px;
  text-align: center;
}
.request-shipping-result-wrap {
  margin: 108px 0;
  text-align: center;
}
.request-shipping-result-wrap .header {
  color: #232961;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 24px;
}
.my-wrap .header {
  color: #232961;
  font-size: 20px;
  font-weight: bold;
  margin-top: 36px;
  margin-bottom: 24px;
}
.my-wrap .my-summary-block {
  height: 120px;
  margin-top: 36px;
  border: 2px solid #232961;
  border-radius: 6px;
  padding: 14px 0 14px 14px;
}
.my-wrap .my-summary-block .user-info {
  width: 240px;
  float: left;
}
.my-wrap .my-summary-block .user-info .name {
  color: #232961;
  font-size: 28px;
}
.my-wrap .my-summary-block .user-info .email {
  color: #51575b;
  font-size: 12px;
}
.my-wrap .my-summary-block .user-info .edit-info {
  padding-top: 4px;
}
.my-wrap .my-summary-block .order-info {
  width: 300px;
  float: right;
}
.my-wrap .my-summary-block .order-info .info-sm-block {
  width: 100px;
  height: 86px;
  float: left;
  border-right: 1px solid #e4e8eb;
  padding-top: 36px;
  font-size: 12px;
  text-align: center;
  background-position: center 6px;
  background-repeat: no-repeat;
  background-size: 24px 24px;
}
.my-wrap .my-summary-block .order-info .info-sm-block .number {
  color: #35b37e;
  font-size: 24px;
}
.my-wrap .my-summary-block .order-info .info-sm-block:last-child {
  border-right: 0;
}
.my-wrap .table-sm-wrap table {
  table-layout: fixed;
}
.my-wrap .table-sm-wrap table th,
.my-wrap .table-sm-wrap table td {
  font-size: 13px;
  padding-top: 16px;
  padding-bottom: 16px;
  text-align: center;
  vertical-align: middle;
}
.my-wrap .table-sm-wrap table thead td {
  color: #7a8187;
  border-bottom: 1px solid #c4ccd3;
  font-weight: bold;
}
.my-wrap .table-sm-wrap table tbody td {
  color: #44494c;
  border-bottom: 1px solid #eef0f2;
}
.my-wrap .table-sm-wrap table tbody td.order-number {
  color: #b1bac2;
}
.my-wrap .password-confirm {
  margin-top: 24px;
}
.my-wrap .password-confirm .form-inline {
  margin-top: 8px;
}
.my-wrap .password-confirm .form-inline input {
  height: 34px;
  vertical-align: top;
}
.my-wrap .info-edit-block {
  margin-top: 24px;
}
.my-wrap .info-edit-block .input-block {
  display: table;
  width: 416px;
  margin-top: 12px;
}
.my-wrap .info-edit-block .input-block .title {
  display: table-cell;
  width: 100px;
  color: #5f656a;
  font-size: 12px;
  font-weight: 700;
}
.my-wrap .info-edit-block .input-block .input-col {
  display: table-cell;
}
.my-wrap .info-edit-block .input-block .select-number {
  background: #fff;
  width: 70px;
  height: 34px;
  border: 1px solid #d6dce1;
  margin-top: 0;
  margin-right: 14px;
  padding: 0;
  vertical-align: top;
  color: #51575b;
  font-size: 14px;
  font-weight: 500;
}
.my-wrap .info-edit-block .input-block .input-mobile-1 {
  width: 70px;
  margin-right: 14px;
}
.my-wrap .info-edit-block .input-block .input-mobile-2 {
  width: 106px;
  margin-right: 13px;
}
.my-wrap .info-edit-block .input-block .input-mobile-3 {
  width: 106px;
}
.my-wrap .info-edit-block .input-block .input-desc {
  margin-top: 8px;
  color: #a3acb3;
  font-size: 12px;
}
.my-wrap .info-edit-block .btn-block {
  margin-top: 16px;
  padding-left: 100px;
}
.my-wrap .cs-category-block {
  margin-top: 24px;
  margin-bottom: 16px;
}
.my-wrap .cs-auth-block {
  width: 600px;
  margin-top: 24px;
}
.my-wrap .info-block {
  display: inline-block;
  width: 697px;
  vertical-align: top;
  margin-top: 16px;
  padding-top: 16px;
  font-size: 13px;
  border-top: 1px solid #c4ccd3;
}
.my-wrap .info-block .full-width-block {
  width: 100%;
}
.my-wrap .info-block .half-width-left-block {
  float: left;
  width: 339px;
  margin-right: 19px;
}
.my-wrap .info-block .half-width-right-block {
  float: left;
  width: 339px;
}
.navigation {
  height: 68px;
  margin-bottom: 0;
  border-radius: 0;
}
.navigation ul.nav {
  height: 67px;
}
.navigation ul.nav li.nav-item {
  height: 67px;
}
.navigation ul.nav li.nav-item a.nav-item-1st {
  padding-top: 23px;
  padding-bottom: 19px;
}
.navigation ul.nav li.nav-item a.nav-item-1st,
.navigation ul.nav li.nav-item a.nav-item-1st:hover,
.navigation ul.nav li.nav-item a.nav-item-1st:active,
.navigation ul.nav li.nav-item a.nav-item-1st:visited {
  color: inherit;
}
.navigation .select {
  padding-bottom: 16px;
  border-bottom: 5px solid #35b37e;
}
.navigation .navbar-btn {
  margin-top: 17px;
}
.navigation .login-block {
  float: right;
  display: inline-block;
  padding-top: 14px;
  vertical-align: bottom;
}
.navigation-sub {
  width: 220px;
  margin-top: 24px;
}
.navigation-sub .header {
  color: #1d3964;
  padding: 12px 12px 12px 26px;
  font-size: 18px;
  font-weight: bold;
  border-bottom: 1px solid #c4ccd3;
  background-position: left 10px;
  background-repeat: no-repeat;
  background-size: 24px 24px;
}
.navigation-sub .menu {
  color: #5f656a;
  padding: 16px 0 16px 24px;
  border-bottom: 1px solid #e4e8eb;
  font-size: 13px;
  font-weight: bold;
}
.navigation-sub .menu .menu-2nd {
  display: block;
  color: #7a8187;
  margin: 6px 0 0 16px;
  font-weight: normal;
}
.navigation-tap ul {
  margin: -4px 0 6px 0;
  padding: 0;
  border-bottom: 3px solid #c4ccd3;
}
.navigation-tap li.tap-item {
  display: inline-block;
  color: #7a8187;
  margin: 0 0 -3px 0;
  padding: 0 30px 16px 0;
  font-size: 14px;
  font-weight: bold;
  list-style: none;
}
.navigation-tap li.select {
  color: #232961;
  border-bottom: 3px solid #232961;
}
.navigation-tap li.warning {
  color: #ffab01;
  border-bottom: 3px solid #ffab01;
}
.navigation-admin {
  color: #fff;
  height: 68px;
  background-color: #232961;
  border-radius: 0;
}
.navigation-admin ul.nav {
  height: 67px;
}
.navigation-admin ul.nav li.nav-item {
  height: 67px;
}
.navigation-admin ul.nav li.nav-item a.nav-item-1st {
  padding-top: 23px;
  padding-bottom: 19px;
}
.navigation-admin ul.nav li.nav-item a.nav-item-1st,
.navigation-admin ul.nav li.nav-item a.nav-item-1st:hover,
.navigation-admin ul.nav li.nav-item a.nav-item-1st:active,
.navigation-admin ul.nav li.nav-item a.nav-item-1st:visited {
  color: #fff;
}
.navigation-admin .select {
  padding-bottom: 16px;
  border-bottom: 5px solid #35b37e;
}
.navigation-admin .navbar-btn {
  margin-top: 17px;
}
.navigation-admin .login-block {
  float: right;
  display: inline-block;
  padding-top: 14px;
  vertical-align: bottom;
}
.navigation-admin-sub {
  width: 220px;
}
.navigation-admin-sub .header {
  color: #1d3964;
  padding: 12px 12px 12px 26px;
  font-size: 18px;
  font-weight: bold;
  border-bottom: 1px solid #c4ccd3;
  background-position: left 10px;
  background-repeat: no-repeat;
  background-size: 24px 24px;
}
.navigation-admin-sub .menu {
  color: #5f656a;
  padding: 16px 0 16px 24px;
  border-bottom: 1px solid #e4e8eb;
  font-size: 13px;
  font-weight: bold;
}
.navigation-admin-sub .menu .menu-2nd {
  display: block;
  color: #7a8187;
  margin: 6px 0 0 16px;
  font-weight: normal;
}
.my-info-wrap {
  color: #fff;
  background-color: #232961;
  padding: 24px 0 20px 0;
  font-size: 12px;
}
.my-info-wrap .user-name {
  font-size: 14px;
  font-weight: bold;
}
.my-info-wrap .user-info {
  width: 100%;
}
.my-info-wrap .user-info div {
  display: inline-block;
  margin-right: 35px;
}
.my-info-wrap .user-info .highlight {
  margin-right: 4px;
  font-weight: bold;
}
.my-info-wrap .my-address .popover-block {
  position: absolute;
  width: 160px;
  top: 20px;
  left: 100px;
}
.my-info-wrap .my-address .popover-block .popover-triangle {
  width: 0;
  height: 0;
  margin-left: 74px;
  border-style: solid;
  border-width: 0 8px 8px 8px;
  border-color: transparent transparent #35b37e transparent;
}
.my-info-wrap .my-address .popover-block .popover-address {
  display: inline-block;
  color: #fff;
  width: 160px;
  padding: 12px;
  border-radius: 6px;
  background-color: #35b37e;
  top: 24px;
  left: 80px;
  text-align: center;
  -webkit-box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.15);
}
.my-info-wrap .logout {
  float: right;
}
.my-info-wrap .underline-dotted {
  padding-bottom: 2px;
  border-bottom: 2px solid #e84252;
}
.icon-pay-fill-xs {
  background-image: url('../img/icon-pay-fill-xs@2x.png');
}
.icon-delivery-fill-xs {
  background-image: url('../img/icon-delivery-fill-xs@2x.png');
}
.icon-release-finished-fill-xs {
  background-image: url('../img/icon-release-finished-fill-xs@2x.png');
}
.icon-on-process-xs {
  background-image: url('../img/icon-ship-progress-fill-xs@2x.png');
}
.icon-dabaesong-fill-xs {
  background-image: url('../img/icon-dabaesong-fill-xs@2x.png');
}
.icon-info-fill-xs {
  background-image: url('../img/icon-info-fill-xs@2x.png');
}
.icon-user-fill-xs {
  background-image: url('../img/icon-user-fill-xs@2x.png');
}
.icon-document-fill-xs {
  background-image: url('../img/icon-document-fill-xs@2x.png');
}
.icon-shop-fill-xs {
  background-image: url('../img/icon-shop-fill-xs@2x.png');
}
.icon-pay-line-xs {
  background-image: url('../img/icon-pay-line-xs@2x.png');
}
.icon-in-progress-line-xs {
  background-image: url('../img/icon-in-progress-line-xs@2x.png');
}
.icon-region-line-xs {
  background-image: url('../img/icon-region-line-xs@2x.png');
}
.icon-baggage-line-xs {
  background-image: url('../img/icon-baggage-line-xs@2x.png');
}
.icon-option-line-xs {
  background-image: url('../img/icon-option-line-xs@2x.png');
}
.icon-pen-line-xs {
  background-image: url('../img/icon-pen-line-xs@2x.png');
}
.icon-won-line-xs {
  background-image: url('../img/icon-won-line-xs@2x.png');
}
.icon-card-line-xs {
  background-image: url('../img/icon-card-line-xs@2x.png');
}
.icon-return-line-xs {
  background-image: url('../img/icon-return-line-xs@2x.png');
}
.icon-warning-line-xs {
  background-image: url('../img/icon-warning-line-xs@2x.png');
}
.icon-document-line-xs {
  background-image: url('../img/icon-document-line-xs@2x.png');
}
.icon-delivery-line-xs {
  background-image: url('../img/icon-delivery-line-xs@2x.png');
}
.icon-user-line-xs {
  background-image: url('../img/icon-user-line-xs@2x.png');
}
.icon-question-line-xs {
  background-image: url('../img/icon-question-line-xs@2x.png');
}
.icon-weight-line-lg {
  background-image: url('../img/icon-weight-line-lg@2x.png');
}
.icon-success-line-lg {
  background-image: url('../img/icon-success-line-lg@2x.png');
}
.icon-docement-write-line-lg {
  background-image: url('../img/icon-document-write-line-lg@2x.png');
}
.icon-document-upload-line-lg {
  background-image: url('../img/icon-document-upload-line-lg@2x.png');
}
.icon-document-location-line-lg {
  background-image: url('../img/icon-document-location-line-lg@2x.png');
}
.icon-document-heart-line-lg {
  background-image: url('../img/icon-document-heart-line-lg@2x.png');
}
.icon-cart-line-lg {
  background-image: url('../img/icon-cart-line-lg@2x.png');
}
.icon-card-success-line-lg {
  background-image: url('../img/icon-card-success-line-lg@2x.png');
}
.icon-card-line-lg {
  background-image: url('../img/icon-card-line-lg@2x.png');
}
.icon-box-line-lg {
  background-image: url('../img/icon-box-line-lg@2x.png');
}
.icon-box-forward-line-lg {
  background-image: url('../img/icon-box-forward-line-lg@2x.png');
}
.icon-box-check-line-lg {
  background-image: url('../img/icon-box-check-line-lg@2x.png');
}
.icon-arrow-right-line-md {
  background-image: url('../img/icon-arrow-right-line-md@2x.png');
}
.icon-arrow-down-line-md {
  background-image: url('../img/icon-arrow-down-line-md@2x.png');
}
.icon-search-package-line-md {
  background-image: url('../img/icon-search-package-line-md@2x.png');
}
.icon-search-document-line-md {
  background-image: url('../img/icon-search-document-line-md@2x.png');
}
.icon-document-line-md {
  background-image: url('../img/icon-document-line-md@2x.png');
}
.icon-delivery-line-md {
  background-image: url('../img/icon-delivery-line-md@2x.png');
}
.icon-customer-line-md {
  background-image: url('../img/icon-customer-line-md@2x.png');
}
.navbar-mobile {
  width: 100%;
  height: 48px;
  background-color: #35b37e;
  text-align: center;
}
.navbar-mobile .navbar-logo {
  display: inline-block;
  margin: 12px;
}
.navbar-mobile .navbar-user {
  display: inline-block;
  position: absolute;
  margin: 12px;
  top: 0;
  right: 0;
  float: right;
}
.user-panel {
  color: #fff;
  padding: 15px;
  background-color: #232961;
}
.user-panel .title-block h2.header {
  display: inline-block;
  margin-top: 8px;
  font-size: 20px;
  font-weight: bold;
}
.user-panel .title-block .btn-logout {
  float: right;
}
.user-panel .block {
  margin: 0 0 14px 0;
}
.user-panel .block .header {
  color: #35b37e;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 8px;
}
.user-panel .block + .block {
  border-top: 1px solid #2770a1;
}
.menubar ul {
  width: 100%;
  margin: 0;
  padding: 16px 15px;
  border-bottom: 1px solid #e0e4e7;
  list-style: none;
  text-align: center;
}
.menubar ul li {
  display: inline-block;
  color: #51575b;
}
.menubar ul li + li {
  margin-left: 23px;
  padding-left: 25px;
  border-left: 1px solid #e4e8eb;
}
.mobile-container {
  width: 100%;
  padding: 0 20px;
}
.divider {
  width: 100%;
  height: 1px;
  border-top: 1px solid #d2d8dd;
  margin: 16px 0;
}
.mobile-index-wrap .hero-block {
  margin-top: 16px;
  margin-bottom: 48px;
  text-align: center;
}
.mobile-index-wrap .hero-block .title {
  color: #232961;
  margin: 16px 0;
  font-family: 'NanumSquare', sans-serif;
  font-size: 30px;
  font-weight: bold;
  line-height: 130%;
}
.mobile-index-wrap .hero-block .description {
  color: #6d7378;
  margin-bottom: 16px;
  font-size: 16px;
}
.mobile-index-wrap .btn-wrap .btn-block {
  width: 100%;
  margin-bottom: 16px;
  padding: 12px 6px 12px 72px;
  border: 2px solid #d2d8dd;
  border-radius: 6px;
  background-position: 18px center;
  background-repeat: no-repeat;
  background-size: 48px 48px;
}
.mobile-index-wrap .btn-wrap .btn-block .title {
  color: #44494c;
  margin: 4px 0 3px 0;
  font-family: 'NanumSquare', sans-serif;
  font-size: 18px;
  font-weight: 500;
}
.mobile-index-wrap .btn-wrap .btn-block .description {
  color: #969ea4;
  margin-bottom: 0;
  font-size: 12px;
}
.content-wrap {
  margin-top: 24px;
  text-align: center;
}
.content-wrap .logo {
  margin-bottom: 24px;
}
.content-wrap img.confirm-result-img {
  width: 96px;
  height: 96px;
}
.content-wrap h2.header {
  color: #232961;
  margin-bottom: 48px;
  padding-top: 16px;
  font-family: 'NanumSquare', sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 140%;
}
.content-wrap .page-description {
  margin-top: -16px;
  font-size: 15px;
}
.content-wrap .block {
  margin: 24px 0;
  text-align: left;
}
.content-wrap .block h3.header {
  color: #44494c;
  font-size: 18px;
  font-weight: bold;
}
.content-wrap .block .input-label {
  color: #44494c;
  font-size: 14px;
  font-weight: bold;
}
.content-wrap .block .item {
  margin-bottom: 12px;
}
.content-wrap .description-block {
  margin-top: 68px;
}
.introduce-wrap .tag {
  display: inline-block;
  width: auto;
  margin: 0 auto;
}
.introduce-wrap .block {
  text-align: center;
}
.introduce-wrap .block .introduce-step-block {
  margin: 12px 0;
}
.introduce-wrap .block .introduce-step-block img {
  margin-bottom: 16px;
}
.introduce-wrap .block .introduce-step-block .step-header {
  font-size: 16px;
  font-weight: bold;
}
.introduce-wrap .block .arrow {
  height: 48px;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 48px 48px;
}
.good-detail .good-table {
  width: 100%;
}
.good-detail .good-table td {
  padding: 16px 0;
  font-size: 14px;
}
.good-detail .good-table td.title {
  color: #44494c;
  font-weight: bold;
}
.good-detail .good-table tr + tr {
  border-top: 1px solid #e9ecee;
}
.order-detail .order-table {
  width: 100%;
}
.order-detail .order-table th,
.order-detail .order-table td {
  padding: 14px 0;
  font-size: 14px;
}
.order-detail .order-table .good-name {
  padding-top: 0;
}
.order-detail .order-table thead tr:nth-child(even) {
  border-bottom: 1px solid #bfc8cf;
}
.order-detail .order-table tbody tr:nth-child(even) {
  border-bottom: 1px solid #e9ecee;
}
.sign-other-method {
  padding-top: 8px;
  font-size: 16px;
  text-align: center;
}
.signup-wrap + .mobile-footer,
.confirm-wrap + .mobile-footer,
.introduce-wrap + .mobile-footer {
  margin-top: 96px;
}
.mobile-footer {
  margin: 20px 0;
  padding-top: 24px;
  border-top: 1px solid #d2d8dd;
}
.mobile-footer .copyright {
  color: #a3acb3;
  font-size: 14px;
}
.mobile-footer .copyright img {
  margin-top: 12px;
}
.mobile-phone-block {
  display: table;
}
.mobile-phone-block .phone-number-item {
  display: inline-block;
  width: 81px;
  margin: 0;
}
.mobile-phone-block .phone-number-item:first-child {
  width: 87px;
  text-align: center;
}
.mobile-phone-block .phone-number-item:nth-child(even) {
  width: 8px;
  text-align: center;
}
.personal-info-block {
  display: table;
  width: 100%;
  vertical-align: top;
}
.personal-info-block .birth-item {
  display: table-cell;
  padding-right: 8px;
  vertical-align: top;
}
.personal-info-block .gender-item {
  display: table-cell;
  width: 104px;
  vertical-align: top;
}
.personal-info-block .gender-item .btn {
  width: 100%;
}
.btn-db-sq {
  width: 100%;
  padding: 16px;
  border-width: 2px !important;
  border-radius: 6px;
  font-family: 'NanumSquare', sans-serif;
  font-size: 16px;
  font-weight: 700;
}
body {
  color: #7a8187;
  font-size: 14px;
  font-family: 'Malgun Gothic', 'Apple SD gothic Neo', 'helvetica', sans-serif;
  word-break: keep-all;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:focus {
  box-shadow: none !important;
}
a {
  color: inherit;
  text-decoration: none;
}
a:hover,
a:active,
a:visited {
  color: inherit;
  text-decoration: none;
}
.btn:focus,
.btn:active {
  outline: none !important;
}
.divider {
  border-top: 1px solid #d2d8dd;
}
.tag {
  display: inline-block;
  border-radius: 34px;
  border: 1px solid #e0e4e7;
  padding: 8px 16px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}
.center {
  text-align: center;
}
.icon-sm {
  width: 20px;
  height: 20px;
  margin-right: 4px;
  vertical-align: middle;
}
.highlight {
  color: #35b37e !important;
  border-color: #35b37e;
}
.cell-header {
  background-color: #f7f8f9;
  font-weight: bold;
}
.common-header .title-1st {
  color: #232961;
  font-size: 20px;
  font-weight: bold;
}
.title-2nd {
  color: #51575b;
  height: 24px;
  font-size: 14px;
  font-weight: bold;
  padding-top: 3px;
  padding-left: 27px;
  background-position: left top;
  background-repeat: no-repeat;
  background-size: 24px 24px;
}
.block {
  margin-bottom: 48px;
}
.table-sm-wrap table {
  table-layout: fixed;
}
.table-sm-wrap table th,
.table-sm-wrap table td {
  font-size: 13px;
  padding-top: 16px;
  padding-bottom: 16px;
  text-align: center;
  vertical-align: middle;
}
.table-sm-wrap table thead td {
  color: #7a8187;
  border-bottom: 1px solid #c4ccd3;
  font-weight: bold;
}
.table-sm-wrap table tbody td {
  color: #44494c;
  border-bottom: 1px solid #eef0f2;
}
.table-sm-wrap table tbody td.order-number {
  color: #b1bac2;
}
.table-md-wrap table {
  width: 100%;
  table-layout: fixed;
}
.table-md-wrap table th,
.table-md-wrap table td {
  font-size: 13px;
  padding-top: 16px;
  padding-bottom: 16px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.table-md-wrap table thead td {
  color: #7a8187;
  border-bottom: 1px solid #c4ccd3;
  font-weight: bold;
}
.table-md-wrap table tbody td {
  color: #44494c;
  border-bottom: 1px solid #eef0f2;
}
.table-md-wrap table tbody td.order-number {
  color: #b1bac2;
}
.footer {
  margin: 48px 0;
  padding-top: 36px;
  padding-bottom: 24px;
  border-top: 1px solid #d2d8dd;
}
.footer .copyright {
  color: #a3acb3;
  font-size: 12px;
  line-height: 150%;
}
.footer .copyright object {
  margin-bottom: 14px;
}
.footer .copyright strong {
  display: block;
  color: #5f656a;
  font-weight: 400;
  margin-bottom: 3px;
}
.introduce {
  margin-top: 34px;
  text-align: center;
}
.introduce .block {
  margin-bottom: 68px;
  padding-bottom: 68px;
}
.introduce .block h2 {
  color: #363b3d;
  font-weight: bold;
}
.introduce .block p {
  padding: 0 24px;
  line-height: 170%;
}
.introduce .block .step-block {
  display: inline-block;
  width: 240px;
  height: 320px;
  margin-bottom: 26px;
  padding: 16px;
  vertical-align: top;
}
.introduce .block .step-block h5.title {
  color: #363b3d;
  height: 40px;
  margin-top: 16px;
  font-size: 15px;
  font-weight: bold;
  line-height: 140%;
}
.introduce .block .step-block span.description {
  line-height: 160%;
}
.introduce .block .step-arrow {
  display: inline-block;
  width: 48px;
  height: 320px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 48px 48px;
}
.arrow-right {
  display: inline-block;
}
.bg-yellow {
  background-color: #fccc6b;
}
.bg-green {
  background-color: #88d1b3;
}
.required:before {
  content: "*";
  color: #ee909a;
  margin-right: 2px;
}
.ref {
  color: #dbe0e4;
  font-size: 0.78rem;
}
.ref:before {
  content: "*";
  color: #fdc148;
  margin-right: 2px;
}
.input-wrap {
  display: table;
  width: 100%;
  margin-bottom: 18px;
}
.input-wrap .input-label {
  display: table-cell;
  color: #51575b;
  width: 108px;
  padding-right: 8px;
  font-size: 13px;
  font-weight: bold;
}
.input-wrap .input-form {
  display: table-cell;
}
.input-required {
  color: #35b37e !important;
}
.block + .btn-block {
  margin-top: -24px;
}
.block + .list-btn-wrap {
  margin-top: -36px;
}
.common-wrap .title {
  color: #232961;
  font-size: 20px;
  font-weight: 700;
  margin: 36px 0 40px 0;
}
.icon-result {
  display: block;
  width: 96px;
  height: 96px;
  margin: 0 auto;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 96px 96px;
}
.only-eng {
  font-family: 'Roboto Slab', sans-serif;
}
.wd-full {
  width: 100%;
}
