@import "color.less";
@import "custom-input.less";
@import "index.less";
@import "signup.less";
@import "payment.less";
@import "admin.less";
@import "char-style.less";
@import "request-shipping.less";
@import "my.less";
@import "navigation.less";
@import "icon.less";
@import "mobile.less";
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

body { color: @dami-charcoal-500; font-size: 14px; font-family: 'Malgun Gothic', 'Apple SD gothic Neo', 'helvetica', sans-serif; word-break: keep-all; }
* { -webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
}
*:focus { box-shadow:none !important; }

a { color: inherit; text-decoration: none; }
a:hover,
a:active,
a:visited { color: inherit; text-decoration: none; }

.btn:focus,
.btn:active {
   outline: none !important;
}

.divider {
	border-top: 1px solid @dami-gray-900;
}

.tag {
	display: inline-block;
	border-radius: 34px;
	border: 1px solid @dami-gray-600;
	padding: 8px 16px;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
}

.center { text-align: center; }
.icon-sm { width: 20px; height: 20px; margin-right:4px; vertical-align: middle; }
.highlight { color: @dami-green-800 !important; border-color: @dami-green-800; }
.cell-header {
	background-color: @dami-gray-100;
	font-weight: bold;
}

.common-header {
	.title-1st {
		color: @dami-blue-gra-1300;
		font-size: 20px;
		font-weight: bold;
	}
}

.title-2nd {
	color: @dami-charcoal-800;
	height: 24px;
	font-size: 14px;
	font-weight: bold;
	padding-top: 3px;
	padding-left: 27px;
	background-position: left top;
	background-repeat: no-repeat;
	background-size: 24px 24px;
}

.block { margin-bottom: 48px; }

.table-sm-wrap {
	table {
		table-layout: fixed;

		th, td {
			font-size: 13px;
			padding-top: 16px;
			padding-bottom: 16px;
			text-align: center;
			vertical-align: middle;
		}

		thead {
			td {
				color: @dami-charcoal-500;
				border-bottom: 1px solid @dami-gray-1200;
				font-weight: bold;
			}
		}

		tbody {
			td {
				color: @dami-charcoal-900;
				border-bottom: 1px solid @dami-gray-300;
			}

			td.order-number {
				color: @dami-charcoal-100;
			}
		}
	}
}

.table-md-wrap {
	table {
		width: 100%;
		table-layout: fixed;

		th, td {
			font-size: 13px;
			padding-top: 16px;
			padding-bottom: 16px;
			text-align: center;
			vertical-align: middle;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		thead {
			td {
				color: @dami-charcoal-500;
				border-bottom: 1px solid @dami-gray-1200;
				font-weight: bold;
			}
		}

		tbody {
			td {
				color: @dami-charcoal-900;
				border-bottom: 1px solid @dami-gray-300;
			}

			td.order-number {
				color: @dami-charcoal-100;
			}
		}
	}
}

.footer {
	margin: 48px 0;
	padding-top: 36px;
	padding-bottom: 24px;
	border-top: 1px solid @dami-gray-900;

	.copyright {
		color: @dami-charcoal-200;
		font-size: 12px;
		line-height: 150%; 

		object { margin-bottom: 14px; }

		strong {
			display: block;
			color: @dami-charcoal-700;
			font-weight: 400;
			margin-bottom: 3px;
		}
	}
}

.introduce {
	margin-top: 34px;
	text-align: center;

	.block {
		margin-bottom: 68px;
		padding-bottom: 68px;

		h2 {
			color: @dami-charcoal-1000;
			font-weight: bold;
		}

		p {
			padding: 0 24px;
			line-height: 170%;
		}

		.step-block {
			display: inline-block;
			width: 240px;
			height: 320px;
			margin-bottom: 26px;
			padding: 16px;
			// border: 1px solid @dami-gray-600;
			vertical-align: top;

			h5.title {
				color: @dami-charcoal-1000;
				height: 40px;
				margin-top: 16px;
				font-size: 15px;
				font-weight: bold;
				line-height: 140%;
			}

			span.description {
				line-height: 160%;
			}
		}

		.step-arrow {
			display: inline-block;
			width: 48px;
			height: 320px;
			background-position: center center;
			background-repeat: no-repeat;
			background-size: 48px 48px;
		}
	}
}

.arrow-right { display: inline-block; }
.bg-yellow { background-color: @dami-yellow-500; }
.bg-green { background-color: @dami-green-500; }

.required:before {
	content: "*";
	color: @dami-red-500;
	margin-right: 2px;
}

.ref {
	color: @dami-gray-700;
	font-size: 0.78rem;
}

.ref:before {
	content: "*";
	color: @dami-yellow-600;
	margin-right: 2px;
}

.input-wrap {
	display: table;
	width: 100%;
	margin-bottom: 18px;

	.input-label { display: table-cell; color: @dami-charcoal-800; width: 108px; padding-right: 8px; font-size: 13px; font-weight: bold; }
	.input-form { display: table-cell; }
}

.input-required { color: @dami-green-800 !important; }
.block + .btn-block { margin-top: -24px; }
.block + .list-btn-wrap { margin-top: -36px; }

.common-wrap {
	.title {
		color: @dami-blue-gra-1300;
		font-size: 20px;
		font-weight: 700;
		margin: 36px 0 40px 0;
	}
}

.icon-result {
	display: block;
	width: 96px;
	height: 96px;
	margin: 0 auto;
	background-position: center top;
	background-repeat: no-repeat;
	background-size: 96px 96px;
}

.only-eng {
	font-family: 'Roboto Slab', sans-serif;
}

.wd-full {
	width: 100%;
}