.checkbox-signup {
	display:inline-block;

	input { margin-right:1px; }
	label { margin:0 !important; cursor: pointer; }

	input[type="checkbox"] {
		display:none;
	}

	input[type="checkbox"] + label span {
		display:inline-block;
		width:20px;
		height:20px;
		margin:-2px 4px 0 0;
		vertical-align:middle;
		background:url(../img/icon-check-sheet.png) left top no-repeat;
		background-size: 80px 20px;
		cursor:pointer;
	}

	input[type="checkbox"]:checked + label span {
		background:url(../img/icon-check-sheet.png) -20px top no-repeat;
		background-size: 80px 20px;
	}

	.policy-sub-confirm {
		font-weight: normal;
	}
}

.checkbox-common {
	display:inline-block;

	input { margin:0; }
	label { margin:0 !important; font-weight: normal; }

	input[type="checkbox"] {
		display:none;
	}

	input[type="checkbox"] + label span {
		display:inline-block;
		width:19px;
		height:19px;
		margin:-2px 4px 0 0;
		vertical-align:middle;
		background:url(../img/icon-check-radio-sheet.png) left top no-repeat;
		background-size: 76px 19px;
		cursor:pointer;
	}

	input[type="checkbox"]:checked + label span {
		background:url(../img/icon-check-radio-sheet.png) -19px top no-repeat;
		background-size: 76px 19px;
	}

	input[type="radio"] {
		display:none;
	}

	input[type="radio"] + label span {
		display:inline-block;
		width:19px;
		height:19px;
		margin:-2px 4px 0 0;
		vertical-align:middle;
		background:url(../img/icon-check-radio-sheet.png) -38px top no-repeat;
		background-size: 76px 19px;
		cursor:pointer;
	}

	input[type="radio"]:checked + label span {
		background:url(../img/icon-check-radio-sheet.png) -57px top no-repeat;
		background-size: 76px 19px;
	}
}

textarea { resize: none; }

.option-block {
	.option {
		display: inline-block;
		margin-right: 48px;
		margin-bottom: 8px;

		input {
			margin-right: 6px;
		}
	}

	.option-lg {
		font-size: 16px;
		letter-spacing: -0.5px;
	}
}

.btn-db {
	display: inline-block;
	padding: 7px 12px;
	margin-bottom: 0;
	font-size: 13px;
	font-weight: normal;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
		touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	 -moz-user-select: none;
		-ms-user-select: none;
			user-select: none;
	background-image: none;
	border-radius: 18px;
	outline: none;
	outline-color: transparent;
}

.btn-db-sq {
	border-radius: 4px;
}

.btn-db-xs {
	padding: 3px 6px 0 6px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 12px;
}

.btn-db-sm {
	padding: 5px 8px;
	font-size: 12px;
	border-radius: 18px;
}

.btn-db-lg {
	height: 48px;
	padding: 12px 36px;
	font-size: 16px;
	border-radius: 24px;
}

.btn-mint-outline {
	color: @dami-mint-800;
	border-color: @dami-mint-800;
	background-color: #fff;
}
.btn-mint-outline:hover,
.btn-mint-outline:focus {
	color: @dami-mint-900;
	border-color: @dami-mint-900;
	background-color: #fff;
}
.btn-mint-outline:active,
.btn-mint-outline.active {
	color: @dami-mint-800;
	border-color: @dami-mint-800;
	background-color: #fff;
}
.btn-mint-outline.disabled,
.btn-mint-outline[disabled],
fieldset[disabled] .btn-mint-outline,
.btn-mint-outline.disabled:hover,
.btn-mint-outline[disabled]:hover,
fieldset[disabled] .btn-mint-outline:hover,
.btn-mint-outline.disabled:focus,
.btn-mint-outline[disabled]:focus,
fieldset[disabled] .btn-mint-outline:focus,
.btn-mint-outline.disabled.focus,
.btn-mint-outline[disabled].focus,
fieldset[disabled] .btn-mint-outline.focus,
.btn-mint-outline.disabled:active,
.btn-mint-outline[disabled]:active,
fieldset[disabled] .btn-mint-outline:active,
.btn-mint-outline.disabled.active,
.btn-mint-outline[disabled].active,
fieldset[disabled] .btn-mint-outline.active {
	color: @dami-mint-400;
	border-color: @dami-mint-200;
	background-color: #fff;
}

.btn-md {
	height: 34px;
}

.form-inline {
	.form-group {
		.btn {
			vertical-align: top;
		}
	}
}

.btn-naver,
.btn-naver:active,
.btn-naver:visited,
.btn-naver:focus {
	color: #fff;
	background-color: #00C73C;
}

.btn-naver:hover {
	color: #fff;
	background-color: #02B731;
}