// fill small
.icon-pay-fill-xs 					{ background-image: url('../img/icon-pay-fill-xs@2x.png'); }
.icon-delivery-fill-xs 				{ background-image: url('../img/icon-delivery-fill-xs@2x.png'); }
.icon-release-finished-fill-xs 		{ background-image: url('../img/icon-release-finished-fill-xs@2x.png'); }
.icon-on-process-xs 				{ background-image: url('../img/icon-ship-progress-fill-xs@2x.png'); }
.icon-dabaesong-fill-xs 			{ background-image: url('../img/icon-dabaesong-fill-xs@2x.png'); }
.icon-info-fill-xs 					{ background-image: url('../img/icon-info-fill-xs@2x.png'); }
.icon-user-fill-xs 					{ background-image: url('../img/icon-user-fill-xs@2x.png'); }
.icon-document-fill-xs 				{ background-image: url('../img/icon-document-fill-xs@2x.png'); }
.icon-shop-fill-xs 					{ background-image: url('../img/icon-shop-fill-xs@2x.png'); }

// line small
.icon-pay-line-xs 					{ background-image: url('../img/icon-pay-line-xs@2x.png'); }
.icon-in-progress-line-xs 			{ background-image: url('../img/icon-in-progress-line-xs@2x.png')}
.icon-region-line-xs 				{ background-image: url('../img/icon-region-line-xs@2x.png'); }
.icon-baggage-line-xs 				{ background-image: url('../img/icon-baggage-line-xs@2x.png'); }
.icon-option-line-xs 				{ background-image: url('../img/icon-option-line-xs@2x.png'); }
.icon-pen-line-xs 					{ background-image: url('../img/icon-pen-line-xs@2x.png'); }
.icon-won-line-xs 					{ background-image: url('../img/icon-won-line-xs@2x.png'); }
.icon-card-line-xs 					{ background-image: url('../img/icon-card-line-xs@2x.png'); }
.icon-return-line-xs 				{ background-image: url('../img/icon-return-line-xs@2x.png'); }
.icon-warning-line-xs 				{ background-image: url('../img/icon-warning-line-xs@2x.png'); }
.icon-document-line-xs 				{ background-image: url('../img/icon-document-line-xs@2x.png'); }
.icon-delivery-line-xs 				{ background-image: url('../img/icon-delivery-line-xs@2x.png'); }
.icon-user-line-xs 					{ background-image: url('../img/icon-user-line-xs@2x.png'); }
.icon-question-line-xs 				{ background-image: url('../img/icon-question-line-xs@2x.png'); }

// line large
.icon-weight-line-lg 				{ background-image: url('../img/icon-weight-line-lg@2x.png'); }
.icon-success-line-lg 				{ background-image: url('../img/icon-success-line-lg@2x.png'); }
.icon-docement-write-line-lg 		{ background-image: url('../img/icon-document-write-line-lg@2x.png'); }
.icon-document-upload-line-lg 		{ background-image: url('../img/icon-document-upload-line-lg@2x.png'); }
.icon-document-location-line-lg 	{ background-image: url('../img/icon-document-location-line-lg@2x.png'); }
.icon-document-heart-line-lg 		{ background-image: url('../img/icon-document-heart-line-lg@2x.png'); }
.icon-cart-line-lg 					{ background-image: url('../img/icon-cart-line-lg@2x.png'); }
.icon-card-success-line-lg 			{ background-image: url('../img/icon-card-success-line-lg@2x.png'); }
.icon-card-line-lg 					{ background-image: url('../img/icon-card-line-lg@2x.png'); }
.icon-box-line-lg 					{ background-image: url('../img/icon-box-line-lg@2x.png'); }
.icon-box-forward-line-lg 			{ background-image: url('../img/icon-box-forward-line-lg@2x.png'); }
.icon-box-check-line-lg 			{ background-image: url('../img/icon-box-check-line-lg@2x.png'); }

// line medium
.icon-arrow-right-line-md 			{ background-image: url('../img/icon-arrow-right-line-md@2x.png'); }
.icon-arrow-down-line-md 			{ background-image: url('../img/icon-arrow-down-line-md@2x.png'); }
.icon-search-package-line-md 		{ background-image: url('../img/icon-search-package-line-md@2x.png'); }
.icon-search-document-line-md 		{ background-image: url('../img/icon-search-document-line-md@2x.png'); }
.icon-document-line-md 				{ background-image: url('../img/icon-document-line-md@2x.png'); }
.icon-delivery-line-md 				{ background-image: url('../img/icon-delivery-line-md@2x.png'); }
.icon-customer-line-md 				{ background-image: url('../img/icon-customer-line-md@2x.png'); }