.index-desc-wrap {
	height: 600px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-image: url('../img/hero-top.jpg');

	.hero {
		margin-top: 120px;

		h1 {
			color: @dami-charcoal-1000;
			font-size: 48px;
			font-weight: 300;
			margin-bottom: 16px;
			line-height: 120%;
		}

		p {
			font-size: 14px;
			line-height: 160%;
		}
	}

	.btn-block {
		margin-top: 24px;
	}
}

.index-wrap {
	.block {
		margin: 68px 0;
	}

	.header {
		color: @dami-charcoal-1000;
		font-size: 32px;
		font-weight: bold;
		margin-bottom: 48px;
	}

	.item-block {
		width: 100%;
		height: 280px;
		margin-bottom: 24px;
		padding: 16px;
		border: 1px solid @dami-gray-400;
		text-align: center;

		.title {
			display: block;
			color: @dami-charcoal-1000;
			height: 42px;
			font-size: 14px;
			font-weight: bold;
		}

		.price {
			color: @dami-green-900;
			font-family: 'Roboto Slab' , sans-serif;
		}
	}

	.item-block:hover {
		border: 1px solid @dami-green-400;
	}

	.col-4-thumb {
		width: 100%;
		padding: 16px;
	}

	.item-link-block {
		height: 70px;

		.title {
			height: 20px;
		}

		.url {
			color: @dami-green-900;
			font-family: 'Roboto Slab' , sans-serif;
		}
	}
}

.item-of-week-block {
	.tag {
		color: #fff;
		border-color: #fff;
	}

	.item-title {
		color: #fff;
		margin-bottom: 16px;
		font-size: 58px;
		font-weight: 300;
		font-family: 'Amatic SC', sans-serif;
	}

	p {
		color: #fff;
		font-size: 14px;
		line-height: 170%;
	}
}

.image-full-width {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.image-item-of-week { background-image: url('../img/hero-week-item.jpg'); }

@media (min-width: 1200px) {
	.index-wrap {
		.item-block { height: 330px; }
		.item-link-block { height: 76px; }
	}
}