.navbar-mobile {
	width: 100%;
	height: 48px;
	background-color: @dami-green-800;
	text-align: center;

	.navbar-logo {
		display: inline-block;
		margin: 12px;
	}

	.navbar-user {
		display: inline-block;
		position: absolute;
		margin: 12px;
		top: 0;
		right: 0;
		float: right;
	}
}

.user-panel {
	color: #fff;
	padding: 15px;
	background-color: @dami-blue-gra-1300;

	.title-block {
		h2.header {
			display: inline-block;
			margin-top: 8px;
			font-size: 20px;
			font-weight: bold;
		}

		.btn-logout {
			float: right;
		}
	}

	.block {
		margin: 0 0 14px 0;

		.header {
			color: @dami-green-800;
			font-size: 14px;
			font-weight: bold;
			margin-bottom: 8px;
		}
	}

	.block + .block {
		border-top: 1px solid @dami-blue-gra-700;
	}
}

.menubar {
	ul {
		width: 100%;
		margin: 0;
		padding: 16px 15px;
		border-bottom: 1px solid @dami-gray-600;
		list-style: none;
		text-align: center;

		li {
			display: inline-block;
			color: @dami-charcoal-800;
		}

		li + li {
			margin-left: 23px;
			padding-left: 25px;
			border-left: 1px solid @dami-gray-500;
		}
	}
}

.mobile-container {
	width: 100%;
	padding: 0 20px;
}

.divider {
	width: 100%;
	height: 1px;
	border-top: 1px solid @dami-gray-900;
	margin: 16px 0;
}

.mobile-index-wrap {
	.hero-block {
		margin-top: 16px;
		margin-bottom: 48px;
		text-align: center;

		.title {
			color: @dami-blue-gra-1300;
			margin: 16px 0;
			font-family: 'NanumSquare', sans-serif;
			font-size: 30px;
			font-weight: bold;
			line-height: 130%;
		}

		.description {
			color: @dami-charcoal-600;
			margin-bottom: 16px;
			font-size: 16px;
		}
	}

	.btn-wrap {		
		.btn-block {
			width: 100%;
			margin-bottom: 16px;
			padding: 12px 6px 12px 72px;
			border: 2px solid @dami-gray-900;
			border-radius: 6px;
			background-position: 18px center;
			background-repeat: no-repeat;
			background-size: 48px 48px;

			.title {
				color: @dami-charcoal-900;
				margin: 4px 0 3px 0;
				font-family: 'NanumSquare', sans-serif;
				font-size: 18px;
				font-weight: 500;
			}

			.description {
				color: @dami-charcoal-300;
				margin-bottom: 0;
				font-size: 12px;
			}
		}
	}
}

.content-wrap {
	margin-top: 24px;
	text-align: center;

	.logo {
		margin-bottom: 24px;
	}

	img.confirm-result-img {
		width: 96px;
		height: 96px;
	}

	h2.header {
		color: @dami-blue-gra-1300;
		margin-bottom: 48px;
		padding-top: 16px;
		font-family: 'NanumSquare', sans-serif;
		font-size: 26px;
		font-weight: 700;
		line-height: 140%;
	}

	.page-description {
		margin-top: -16px;
		font-size: 15px;
	}

	.block {
		margin: 24px 0;
		text-align: left;

		h3.header {
			color: @dami-charcoal-900;
			font-size: 18px;
			font-weight: bold;
		}

		.input-label {
			color: @dami-charcoal-900;
			font-size: 14px;
			font-weight: bold;
		}

		.item {
			margin-bottom: 12px;
		}
	}

	.description-block {
		margin-top: 68px;
	}
}

.introduce-wrap {
	.tag {
		display: inline-block;
		width: auto;
		margin: 0 auto;
	}

	.block {
		text-align: center;

		.introduce-step-block {
			margin: 12px 0;

			img {
				margin-bottom: 16px;
			}

			.step-header {
				font-size: 16px;
				font-weight: bold;
			}
		}

		.arrow {
			height: 48px;
			background-position: top center;
			background-repeat: no-repeat;
			background-size: 48px 48px;
		}
	}
}

.good-detail {
	.good-table {
		width: 100%;

		td {
			padding: 16px 0;
			font-size: 14px;
		}

		td.title {
			color: @dami-charcoal-900;
			font-weight: bold;
		}

		tr + tr {
			border-top: 1px solid @dami-gray-400;
		}
	}
}

.order-detail {
	.order-table {
		width: 100%;

		th, td {
			padding: 14px 0;
			font-size: 14px;
		}

		.good-name {
			padding-top: 0;
		}

		thead tr:nth-child(even) {
			border-bottom: 1px solid @dami-gray-1300;
		}

		tbody tr:nth-child(even) {
			border-bottom: 1px solid @dami-gray-400;
		}
	}
}

.sign-other-method {
	padding-top: 8px;
	font-size: 16px;
	text-align: center;
}

.signup-wrap + .mobile-footer,
.confirm-wrap + .mobile-footer,
.introduce-wrap + .mobile-footer {
	margin-top: 96px;
}

.mobile-footer {
	margin: 20px 0;
	padding-top: 24px;
	border-top: 1px solid @dami-gray-900;

	.copyright {
		color: @dami-charcoal-200;
		font-size: 14px;

		img {
			margin-top: 12px;
		}
	}
}

//

.mobile-phone-block {
	display: table;

	.phone-number-item {
		display: inline-block;
		width: 81px;
		margin: 0;
	}

	.phone-number-item:first-child {
		width: 87px;
		text-align: center;
	}

	.phone-number-item:nth-child(even) {
		width: 8px;
		text-align: center;
	}
}

.personal-info-block {
	display: table;
	width: 100%;
	vertical-align: top;

	.birth-item {
		display: table-cell;
		padding-right: 8px;
		vertical-align: top;
	}

	.gender-item {
		display: table-cell;
		width: 104px;
		vertical-align: top;

		.btn {
			width: 100%;
		}
	}
}

// 모바일 버튼 스타일

.btn-db-sq {
	width: 100%;
	padding: 16px;
	border-width: 2px !important;
	border-radius: 6px;
	font-family: 'NanumSquare', sans-serif;
	font-size: 16px;
	font-weight: 700;
}