.my-wrap {
	.header {
		.common-header .title-1st;

		margin-top: 36px;
		margin-bottom: 24px;
	}

	.my-summary-block {
		height: 120px;
		margin-top: 36px;
		border: 2px solid @dami-blue-gra-1300;
		border-radius: 6px;
		padding: 14px 0 14px 14px;

		.user-info {
			width: 240px;
			float: left;

			.name {
				color: @dami-blue-gra-1300;
				font-size: 28px;
			}

			.email {
				color: @dami-charcoal-800;
				font-size: 12px;
			}

			.edit-info {
				padding-top: 4px;
			}
		}

		.order-info {
			width: 300px;
			float: right;

			.info-sm-block {
				width: 100px;
				height: 86px;
				float: left;
				border-right: 1px solid @dami-gray-500;
				padding-top: 36px;
				font-size: 12px;
				text-align: center;
				background-position: center 6px;
				background-repeat: no-repeat;
				background-size: 24px 24px;

				.number {
					color: @dami-green-800;
					font-size: 24px;
				}
			}

			.info-sm-block:last-child {
				border-right: 0;
			}
		}
	}

	.table-sm-wrap {
		.table-sm-wrap;
	}

	.password-confirm {
		margin-top: 24px;

		.form-inline {
			margin-top: 8px;

			input {
				height: 34px;
				vertical-align: top;
			}
		}
	}

	.info-edit-block {
		margin-top: 24px;

		.input-block {
			display: table;
			width: 416px;
			margin-top: 12px;

			.title {
				display: table-cell;
				width: 100px;
				.bold-12px-dark-charcoal;
			}

			.input-col {
				display: table-cell;
			}

			.select-number {
			    background: #fff;
			    width: 70px;
			    height: 34px;
			    border: 1px solid @dami-gray-800;
			    margin-top: 0;
			    margin-right: 14px;
			    padding: 0;
			    vertical-align: top;
			    .bold-14px-dark-charcoal;
			}

			.input-mobile-1 { width: 70px; margin-right: 14px; }
			.input-mobile-2 { width: 106px; margin-right: 13px; }
			.input-mobile-3 { width: 106px; }

			.input-desc {
				margin-top: 8px;

				.regular-12px-gray;
			}
		}

		.btn-block {
			margin-top: 16px;
			padding-left: 100px;
		}
	}

	.cs-category-block {
		margin-top: 24px;
		margin-bottom: 16px;
	}

	.cs-auth-block {
		width: 600px;
		margin-top: 24px;
	}

	.info-block {
		display: inline-block;
		width: 697px;
		vertical-align: top;
		margin-top: 16px;
		padding-top: 16px;
		font-size: 13px;
		border-top: 1px solid @dami-gray-1200;

		.full-width-block {
			width: 100%;
		}

		.half-width-left-block {
			float: left;
			width: 339px;
			margin-right: 19px;
		}

		.half-width-right-block {
			float: left;
			width: 339px;
		}
	}
}

