.navigation {
	height: 68px;
	margin-bottom: 0;
	border-radius: 0;

	.navbar-header {
	}

	ul.nav {
		height: 67px;

		li.nav-item {
			height: 67px;

			a.nav-item-1st {
				padding-top: 23px;
				padding-bottom: 19px;
			}

			a.nav-item-1st,
			a.nav-item-1st:hover,
			a.nav-item-1st:active,
			a.nav-item-1st:visited {
				color: inherit;
			}
		}
	}

	.select {
		padding-bottom: 16px;
		border-bottom: 5px solid @dami-green-800;
	}

	.navbar-btn {
		margin-top: 17px;
	}

	.login-block {
		float:right;
		display: inline-block;
		padding-top: 14px;
		vertical-align: bottom;
	}
}

.navigation-sub {
	width: 220px;
	margin-top:24px;

	.header {
		color: @dami-blue-1000;
		padding: 12px 12px 12px 26px;
		font-size: 18px;
		font-weight: bold;
		border-bottom: 1px solid @dami-gray-1200;
		background-position: left 10px;
		background-repeat: no-repeat;
		background-size: 24px 24px;
	}

	.menu {
		color: @dami-charcoal-700;
		padding: 16px 0 16px 24px;
		border-bottom: 1px solid @dami-gray-500;
		font-size: 13px;
		font-weight: bold;

		.menu-2nd {
			display: block;
			color: @dami-charcoal-500;
			margin: 6px 0 0 16px;
			font-weight: normal;
		}
	}
}

.navigation-tap {
	ul {
		margin: -4px 0 6px 0;
		padding: 0;
		border-bottom: 3px solid @dami-gray-1200;
	}

	li.tap-item {
		display: inline-block;
		color: @dami-charcoal-500;
		margin: 0 0 -3px 0;
		padding: 0 30px 16px 0;
		font-size: 14px;
		font-weight: bold;
		list-style: none;
	}

	li.select {
		color: @dami-blue-gra-1300;
		border-bottom: 3px solid @dami-blue-gra-1300;
	}

	li.warning {
		color: @dami-yellow-800;
		border-bottom: 3px solid @dami-yellow-800;
	}
}

.navigation-admin {
	color: #fff;
	height: 68px;
	background-color: @dami-blue-gra-1300;
	border-radius: 0;

	ul.nav {
		height: 67px;

		li.nav-item {
			height: 67px;

			a.nav-item-1st {
				padding-top: 23px;
				padding-bottom: 19px;
			}

			a.nav-item-1st,
			a.nav-item-1st:hover,
			a.nav-item-1st:active,
			a.nav-item-1st:visited {
				color: #fff;
			}
		}
	}

	.select {
		padding-bottom: 16px;
		border-bottom: 5px solid @dami-green-800;
	}

	.navbar-btn {
		margin-top: 17px;
	}

	.login-block {
		float:right;
		display: inline-block;
		padding-top: 14px;
		vertical-align: bottom;
	}
}

.navigation-admin-sub {
	width: 220px;

	.header {
		color: @dami-blue-1000;
		padding: 12px 12px 12px 26px;
		font-size: 18px;
		font-weight: bold;
		border-bottom: 1px solid @dami-gray-1200;
		background-position: left 10px;
		background-repeat: no-repeat;
		background-size: 24px 24px;
	}

	.menu {
		color: @dami-charcoal-700;
		padding: 16px 0 16px 24px;
		border-bottom: 1px solid @dami-gray-500;
		font-size: 13px;
		font-weight: bold;

		.menu-2nd {
			display: block;
			color: @dami-charcoal-500;
			margin: 6px 0 0 16px;
			font-weight: normal;
		}
	}
}

.my-info-wrap {
	color: #fff;
	background-color: @dami-blue-gra-1300;
	padding: 24px 0 20px 0;
	font-size: 12px;

	.user-name {
		font-size: 14px;
		font-weight: bold;
	}

	.user-info {
		width: 100%;

		div {
			display: inline-block;
			margin-right: 35px;
		}

		.highlight {
			margin-right: 4px;
			font-weight: bold;
		}
	}

	.my-address {
		.popover-block {
			position: absolute;
			width: 160px;
			top: 20px;
			left: 100px;

			.popover-triangle {
				width: 0;
				height: 0;
				margin-left: 74px;
				border-style: solid;
				border-width: 0 8px 8px 8px;
				border-color: transparent transparent @dami-green-800 transparent;
			}

			.popover-address {
				display: inline-block;
				color: #fff;
				width: 160px;
				padding: 12px;
				border-radius: 6px;
				background-color: @dami-green-800;
				top: 24px;
				left: 80px;
				text-align: center;
				-webkit-box-shadow: 0px 4px 9px 0px rgba(0,0,0,0.15);
				-moz-box-shadow: 0px 4px 9px 0px rgba(0,0,0,0.15);
				box-shadow: 0px 4px 9px 0px rgba(0,0,0,0.15);
			}
		}
	}

	.logout {
		float: right;
	}

	.underline-dotted {
		padding-bottom: 2px;
		border-bottom: 2px solid @dami-red-800;
	}
}