.payment-wrap {
	.header {
		.common-header .title-1st;

		margin-top: 36px;
		margin-bottom: 24px;
	}

	.table-sm-wrap {
		.table-sm-wrap;
	}

	.payment-method-block {
		margin-bottom: 24px;
	}

	.option-block {
		margin-top: 16px;
		padding-top: 16px;
		border-top: 1px solid @dami-gray-1200;
	}

	.info-address-block {
		margin-top: 16px;
		padding-top: 16px;
		border-top: 1px solid @dami-gray-1200;
	}
}

.payment-result-wrap {
	margin: 108px 0;
	text-align: center;

	.header {
		.common-header .title-1st;

		margin-bottom: 24px;
	}
}