.request-shipping-wrap {
	.header {
		h2 {
			.common-wrap .title;
		}
	}

	.block {
		margin-top: 48px;

		.title {
			color: @dami-charcoal-800;
			font-size: 14px;
			font-weight: bold;
			padding-top: 0;
			vertical-align: top;
		}

		.region {
			width: 100%;
			padding: 14px;
			border: 1px solid @dami-gray-300;
			border-radius: 4px;
			 -o-transition:.2s;
			-ms-transition:.2s;
		   -moz-transition:.2s;
		-webkit-transition:.2s;

			span {
				color: @dami-charcoal-500;
				display: block;
				font-size: 1.3rem;
				font-weight: bold;
				margin-bottom: 8px;
				padding-bottom: 8px;
				border-bottom: 1px solid @dami-gray-300;
			}

			p { color: @dami-charcoal-300; margin:0; padding:0; }
		}

		.region-select {
			background-color: @dami-green-800;
			border: 1px solid @dami-green-900;

			span {
				color: #fff;
				border-bottom: 1px solid @dami-green-900;
			}

			p {
				color: #fff;
			}
		}

		.region-select:hover {
			border-color: @dami-green-800;
		}

		.goods-wrap {
			margin-top: 12px;
			padding-left: 24px;
			border-top: 1px solid @dami-gray-900;

			.good-block {
				.good-title {
					display: block;
					margin: 12px 0 20px 0;
					padding-bottom: 12px;
					border-bottom: 1px solid @dami-gray-300;
					font-size: 14px;
					font-weight: 500;

					button { float:right;margin-top: -2px; }
				}

				.good-info-block {
					.image-block{
						display: inline-block;
						width: 120px;
						margin-right: 18px;
						vertical-align: top;

						.thumb {
							width: 120px;
							height: 120px;
							margin-bottom: 8px;
							border: 1px solid @dami-gray-500;
							border-radius: 4px;
						}

						button.image-submit {
							width: 120px;
						}
					}

					.info-block {
						display: inline-block;
						width: 774px;
						vertical-align: top;

						.full-width-block {
							width: 100%;
						}

						.half-width-left-block {
							float: left;
							width: 378px;
							margin-right: 18px;
						}

						.half-width-right-block {
							float: left;
							width: 378px;
						}
					}
				}
			}

			thead td {
				color: @dami-charcoal-500;
				font-size: 12px;
				font-weight: bold;
				text-align: center;
			}

			tbody td {
				color: @dami-charcoal-300;
				height: 48px;
				font-size: 12px;
				padding: 12px 4px;
				text-align: center;
				vertical-align: middle;
			}
		}

		.delivery-option-wrap {
			margin-top: 12px;
			padding-top:20px;
			border-top: 1px solid @dami-gray-800;

			.header {
				display: inline-block;
				color: @dami-charcoal-800;
				width: 148px;
				font-size: 13px;
				font-weight: bold;
			}

			.header-input {
				margin-top: 9px;
			}

			.option-block {
				display: inline-block;
				width: 780px;
				vertical-align: top;

				.option-select-block {
					margin-bottom: 16px;
					padding-bottom: 8px;
					border-bottom: 1px dotted @dami-gray-800;

					.option {
						width: 120px;

						label {
							font-weight: bold;
						}
					}

				}

				.select-delivery {
				    background: #fff;
				    width: 380px;
				    height: 34px;
				    border: 1px solid @dami-gray-800;
				    margin-top: 0;
				    margin-right: 14px;
				    padding: 0;
				    vertical-align: top;
				    .bold-14px-dark-charcoal;
				}

				.address-item {
					display: table;
					margin-bottom: 10px;

					.title {
						display: table-cell;
						color: @dami-charcoal-500;
						width: 80px;
						font-size: 12px;
						vertical-align: top;
						padding-top: 10px;
					}

					.address-input {
						display: table-cell;

						.address {
							width: 300px;
						}

						.delivery-message {
							width: 700px;
						}
					}

					.address-btn {
						display: table-cell;
						vertical-align: top;
					}
				}
			}

			.address-wrap {
				margin-top: -8px;
			}
		}

		.title + .delivery-option-wrap {
			border-top: 1px solid @dami-gray-500;
		}
	}

	.btn-block {
		margin-bottom: 16px;
		text-align: center;
	}

	.btn-submit-block {
		margin-top: 24px;
		text-align: center;
	}
}

.request-shipping-result-wrap {
	margin: 108px 0;
	text-align: center;

	.header {
		.common-header .title-1st;

		margin-bottom: 24px;
	}
}