.body-signup {
	background-color: @dami-green-500;
}

#signup {
	.logo-signup {
		margin: 148px 0 48px 0;
		text-align: center;
	}
}

.signup-wrap {
	width: 490px;

	.header {
		h2 {
			color: @dami-blue-gra-1300;
			font-size: 34px;
			font-weight: 700;
			text-align: center;
			margin-bottom: 58px;
		}
	}

	.block {
		margin-bottom: 0;
		padding-bottom: 12px;

		.title {
			.bold-12px-dark-charcoal;
			padding-top:10px;
		}

		.input-col {

		}

		.select-number {
		    background: #fff;
		    width: 70px;
		    height: 34px;
		    border: 1px solid @dami-gray-800;
		    margin-top: 0;
		    margin-right: 14px;
		    padding: 0;
		    vertical-align: top;
		    .bold-14px-dark-charcoal;
		}

		.input-mobile-1 { width: 70px; margin-right: 14px; }
		.input-mobile-2 { width: 106px; margin-right: 13px; }
		.input-mobile-3 { width: 106px; }

		.required:before {
			content: "*";
			color: @dami-red-700;
			margin-right: 2px;
		}
	}

	.divider {
		margin: 12px 0 24px 0;
	}

	.term-wrap {
		color: @dami-charcoal-500;
		padding: 8px 0 8px 0;

		.term {
			color: @dami-charcoal-500;
			margin: 0;
			padding-bottom: 16px;
		}
	}

	.btn-block {
		text-align: center;

		.item {
			margin-bottom: 12px;
		}
	}

	.link-signin {
		margin-bottom: 48px;
		text-align: center;

		a,
		a:hover,
		a:active,
		a:visited {
			color: @dami-green-800;
			text-decoration: underline;
		}
	}
}