.slide-menu {
  position: fixed;
  width: 320px;
  max-width: 100%;
  height: 100vh;
  top: 0;
  right: 0;
  display: none;
  overflow: hidden;
  box-sizing: border-box;
  background: #333;
  transition: transform 300ms ease-in-out;
  transform: translateX(100%);
  will-change: transform;
  z-index: 1000; }
  .slide-menu .slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transition: transform 300ms ease-in-out;
    transform: translateX(0);
    will-change: transform; }
  .slide-menu ul {
    padding-left: 0;
    list-style: none;
    position: relative;
    width: 320px;
    max-width: 100%;
    margin: 0; }
    .slide-menu ul ul {
      position: absolute;
      top: 0;
      left: 100%;
      display: none; }
    .slide-menu ul a {
      display: block;
      padding: 12px 24px;
      color: #fff;
      text-decoration: none; }
  .slide-menu.no-transition, .slide-menu.no-transition * {
    transition: none !important; }

/*# sourceMappingURL=slide-menu.css.map */
