<div class="row">
	<div class="col-md-3"><img src="img/logo-dabaesong.png" width="140" /></div>
	<div class="col-md-3">
		All right reserved (C) 2017<br />
		인천광역시 계양구 봉오대로 521 (효성동)<br />
		유로초이스
	</div>
	<div class="col-md-3">
		010-3916-8442<br />
		info@dabaesong.co.kr<br />
		사업자번호 : 122-29-84427<br />
		통신판매업번호 : 제2014-인천계양-0398호
	</div>
	<div class="col-md-3">
		다배송은 관세법등 관련규정을 준수하고, 불법물건을 취급하지 않으며, 분할배송 및 가격허위신고 등 고객의 불법사항 요청에는 협조하지 않습니다.
	</div>
</div>