<nav class="navbar navbar-inverse navigation-admin">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="index.html">
				<img src="img/logo-dabaesong-wh.svg" width="180" height="40" />
			</a>
		</div>
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li class="nav-item"><a href="admin-order.html" class="nav-item-1st">주문 관리</a></li>
				<li class="nav-item">
					<a href="#" class="dropdown-toggle nav-item-1st" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">회원 관리 <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="admin-member.html">회원 목록</a></li>
						<li><a href="admin-member-level.html">회원 등급 관리</a></li>
					</ul>
				</li>
				<li class="nav-item">
					<a href="#" class="dropdown-toggle nav-item-1st" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">샵 관리 <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="admin-shop-article.html" >글 관리</a></li>
						<li><a href="admin-shop-category.html" >카테고리 관리</a></li>
					</ul>
				</li>
				<li class="nav-item"><a href="admin-cs.html" class="nav-item-1st">고객센터</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li class="nav-item"><a href="#" class="nav-item-1st">관리자님</a></li>
				<button type="button" class="btn-db btn-danger navbar-btn">로그아웃</button>
			</ul>
		</div>
	</div>
</nav>