<nav class="navbar navbar-default navigation">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="index-login.html">
				<img src="img/logo-dabaesong.png" width="180" height="40" />
			</a>
		</div>
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li class="nav-item"><a href="introduce.html" class="nav-item-1st">이용방법</a></li>
				<li class="nav-item"><a href="about.html" class="nav-item-1st">다배송 소개</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li class="nav-item"><a href="my.html" class="nav-item-1st"><b>김지원</b>님</a></li>
				<li class="nav-item"><input type="button" class="btn-db btn-success navbar-btn" onclick="window.location='request-shipping.html'" value="배송대행 신청하기" /></li>
			</ul>
		</div>
	</div>
</nav>